$body-bg: #fff;
$body-text: black;

$primary-color: #0bb;  //#2dc997;   //#3adabb;
$secondary-color: #099; //#0aa;

//$h1-color: #0bb; //eee
//$h2-color: #0aa; //fff

$link-hover-color: $secondary-color;
$btn-hover: $secondary-color;